<!doctype html>
<html>
  <head>
    <title>Homesite Quote Conversion - Which customers will purchase a quoted insurance plan?</title>
  </head>
  <body>
    <h1>Welcome to Homesite Quote Conversion Page </h1>
    <h2> ** Please upload your query quote as CSV file to check if the deal will convert ** </h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Predict"></p>
    </form>
  </body>
</html>